<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="APPLICATION_NAME" scope="context" source="spring.application.name"/>
    <springProperty name="IS_GRYALOG_ENABLED" scope="context" source="logging.graylog.enabled"/>
    <springProperty name="GRYALOG_HOST" scope="context" source="logging.graylog.host"/>
    <springProperty name="GRYALOG_PORT" scope="context" source="logging.graylog.port"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <if condition='property("IS_GRYALOG_ENABLED").equals("true")'>
        <then>
            <appender name="GRAYLOG" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
                <host>${GRYALOG_HOST}</host>
                <port>${GRYALOG_PORT}</port>
                <layout class="ru.romanow.inst.services.common.utils.GraylogLayout">
                    <applicationName>${APPLICATION_NAME}</applicationName>
                </layout>
            </appender>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <if condition='property("IS_GRYALOG_ENABLED").equals("true")'>
            <then>
                <appender-ref ref="GRAYLOG"/>
            </then>
        </if>
    </root>
</configuration>